@import "tailwindcss";



@font-face {
  font-family: 'fi';
  src: url('/src/font/inter.TTF') ;
  
}

@font-face {
  font-family: 'Inter-bold';
  src: url('/public/font/INTER-BOLD-SLNT=0.TTF') format('truetype');
  
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-infinite-scroll {
  animation: scrollUp 20s linear infinite;
}

body {
  
  font-family: 'inter';
  background-color: #000;
}



.thoughts::-webkit-scrollbar{
  display: none;
}